

mat-toolbar{
  background-color: black;
  color:white;
  height: 70px;
  display: flex;
  justify-content: space-around;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
mat-toolbar h1{
  font-size: x-large;
}
 button[mat-button]{
  background-color: white;
  color:black;
  transition: background-color 1s

}

button[mat-button]:hover{
  color:white;
  background-color: slateblue;



}



@media(max-width:400px){
 mat-toolbar h1{
   display: none;
 }

}

